:root {
    /* Colores */
    --color-primario: #2771CD; 
    --color-primario-claro: #5A92E0;
    --color-primario-oscuro: #194884;

    --color-secundario: #FFA300;
    --color-secundario-claro: #FFC966
    --color-secundario-oscuro: #FFA300
      
    /* Tonos de blanco */
    --color-blanco-grisaceo: #484242;
    --color-blanco-apagado: #e0e0e0;
      
    /* Fondos */
    --bg-primario: #101010; /* Fondo principal */
    --bg-secundario: #282828; /* Fondo secundario */
    --bg-azul-claro: #e0f7fa;
    --bg-azul-oscuro: #102a43;
      
    /* Tipografía */
    --tipografia-principal: "Poppins", sans-serif;
    --tipografia-secundaria: "Roboto", sans-serif;
      
    /* Tamaños de fuente */
    --font-size-xxl: 48px; /* Extra grande */
    --font-size-xl: 40px; /* Muy grande */
    --font-size-l: 32px; /* Grande */
    --font-size-m: 24px; /* Mediano */
    --font-size-s: 16px; /* Pequeño */
    --font-size-xs: 12px; /* Extra pequeño */
}

body{
    margin: 0;
}

h1{
    font-family: var(--tipografia-principal);
    color: white;
}

h2{
    font-family: var(--tipografia-principal);
    color: white;
}

h3{
    font-family: var(--tipografia-principal);
    color: white;
}

h4{
    font-family: var(--tipografia-principal);
    color: white;
}

h5{
    font-family: var(--tipografia-principal);
    color: white;
}

h6{
    font-family: var(--tipografia-principal);
    color: white;
}

p{
    font-family: var(--tipografia-principal);
    color: white;
}

.main-content {
    padding: 5px;
}

/* VJ */
.game-section{
    width: 100%;
    display: block;
    align-items: center;
    margin-bottom: 30px;
}

.tableroyanucios-div{
    display: flex;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
}

.game-section img {
    width: 300px;
}

.description {
    text-align: center;
    margin-bottom: 30px;
}

.contenido-link{
    text-align: center;
}

.contenido-link{
    display: block;
    text-align: center;
}

.contenido-link span{
    font-family: var(--tipografia-principal);
    font-size: var(--font-size-xs);
    font-weight: bolder;
}

.comments-section {
    width: 60%;
    margin-bottom: 30px;
}

.comment-input {
    display: flex;
    margin-bottom: 20px;
}

.comment-input textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-blanco-apagado);
    background-color: white;
    color: #fff;
}

.comment-input button {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #29b6f6;
    cursor: pointer;
    border-radius: 5px;
}

.comment-input button:hover {
    background-color: #0288d1;
}

.comment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--color-primario-oscuro);
    padding: 15px;
    border-radius: 10px;
}

.comment img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #aaa;
}

/* Sección Registrarse */
.register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    padding: 20px; 
    min-height: 100vh; 
    background: linear-gradient(to bottom, #ffffff, #3b79f1); 
}

.register-section .logo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.register-section .logo img {
    width: 200px; 
    height: auto;
}

.register-section .login-box {
     
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Sombras del conteiner */
    background: rgba(26, 59, 143, 0.9); 
    text-align: center;
    color: white;
    width: 100%;
    max-width: 400px;  
}

.register-section h2 {
    margin-bottom: 20px;
    font-size: 1.5em; 
}

.register-section label {
    display: block; 
    text-align: left; 
    margin: 10px 0 5px; 
}

.register-section input[type="text"],
.register-section input[type="email"],
.register-section input[type="password"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: none; 
    border-radius: 5px; 
    box-sizing: border-box; 
}

.register-section .btn {
    background: white; 
    color: #1a3b8f; 
    border: 2px solid #1a3b8f; 
    border-radius: 5px; 
    padding: 10px 30px; 
    transition: background-color 0.3s ease; 
    cursor: pointer; 
}

.register-section .btn:hover {
    background: #689bfa; 
}

.register-section .captcha-container {
    margin: 20px 0; 
}

.register-section .register-text {
    margin-top: 15px; 
    font-size: 0.9em; 
}

.register-section .login-link {
    color: #020202; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.register-section .login-link:hover {
    color: #ddd; 
}

#error-message {
    color: red;
    display: none; /* Se muestra solo cuando las contraseñas no coinciden */
}

#captcha-message {
    color: red;
}

/* Sección Login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra verticalmente el contenido */
    background: linear-gradient(to bottom, #ffffff, #3b79f1);
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

.login-section .logo {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.login-section .logo img {
    width: 200px;
    height: auto;
}

.login-section h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.login-section .login-container {
    display: flex;
    flex-direction: column; /* Alinea el logo y la caja de login en columna */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
}

.login-section .login-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); /* Sombras del conteiner */
    background: rgba(26, 59, 143, 0.9); 
    text-align: center;
    color: white;
    width: 100%;
}

.login-section .login-box h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
}

.login-section .login-box label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

.login-section .login-box input[type="email"],
.login-section .login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-section .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    color: white;
}

.login-section .remember-me input {
    margin-right: 5px;
}

.login-section .form-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.login-section .checkbox-container {
    display: flex;
    align-items: center;
}

.login-section .checkbox-container span {
    color: white;
    margin-left: 5px;
}

.login-section .btn {
    background: white;
    color: #1a3b8f;
    border: 2px solid #1a3b8f;
    border-radius: 5px;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.login-section .btn:hover {
    background: #689bfa;
}

/* Estilo del botón de login con Google */
.login-section .google-login {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.login-section .btn-google {
    display: flex;
    align-items: center;
    background: #ffffff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-section .btn-google img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.login-section .btn-google:hover {
    background-color: #689bfa;
}

.login-section .register-text {
    margin-top: 15px;
    font-size: 0.9em;
}

.login-section .register-text a {
    color: #add8e6;
    text-decoration: none;
}

.login-section .register-text a:hover {
    text-decoration: underline;
}

/* Estilos del Captcha */

.captcha-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.captcha-container p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.captcha-container label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.captcha-image {
    width: auto;
    max-width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.captcha-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.captcha-container button {
    background-color: #2771CD;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.captcha-container button:hover {
    background-color: #194884;
}

.message {
    margin-top: 10px;
    font-size: 14px;
    color: red;
}
/*-----------------------------HEADER---------------------------------------*/
.header_container{
    display: flex;
    background-color: #2771CD;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.menu-hamburguesa {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .menu-hamburguesa span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff; /* Color líneas */
    border-radius: 2px;
  }

.logo{
    max-width: 100px;
    height: auto;
}

.busqueda_container{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    padding: 5px 10px;
    width: 200px;
}
.barra-busq{ /*input*/
    width: 100%;
    border:none;
}

.lupa{ /*boton*/
    color: #000000;
    cursor: pointer;
    border: none;
}

/* Opciones de usuario */
.user-options {
    display: none;
    justify-content: space-between;
    gap: 1rem;
}

.user-options a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/*--------------------------------------------BODY HOME--------------------------------------------*/
.main-container {
    padding: 10px;
}

/* Estilos para los carruseles */
.carousel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.cards-container {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.card {
    background-color: #ddd;
    border-radius: 5px;
}

/* Botones de flecha */
.arrow {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    cursor: pointer;
    user-select: none;
    position: absolute;
    z-index: 1;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

/* Carrusel 1 (cards más grandes) */
.carousel-1 .cards-container .card {
    width: 90vw; /* Tamaño móvil: ancho casi completo */
    height: 140px;
}

.carousel-1 .arrow {
    height: 140px;
}

/* Carrusel 2 y 3 (cards pequeñas) */
.carousel-2 .cards-container .card,
.carousel-3 .cards-container .card {
    width: 45vw; /* Tamaño móvil: la mitad del ancho */
    height: 90px;
}

.carousel-2 .arrow, .carousel-3 .arrow {
    height: 90px;
}

/* Carrusel 4 (cards más altas) */
.carousel-4 .cards-container .card {
    width: 45vw; /* Tamaño móvil: la mitad del ancho */
    height: 180px;
}

.carousel-4 .arrow {
    height: 180px;
}


/* Media Queries para Responsividad */

/* (móviles) */
@media (max-width: 480px) {
    /* Login */

    .login-section .login-box,
    .register-section .login-box {
        padding: 15px;
        border-radius: 8px;
        width: 90%; 
    }

    .login-section .login-box h2,
    .register-section h2 {
        font-size: 1.2em;
    }

    .login-section .btn, 
    .register-section .btn, 
    .login-section .btn-google {
        padding: 8px;
        font-size: 14px; 
    }

    
    /* VJ */
    .game-section img {
        width: 100%; 
    }

    .tablero-div{
        width: 100%;
        display: flex;
        align-items: center;
    }

    .game-section{
        width: 100%;
    }

    .anuncio-div{
        display: none;
    }

    .description-div{
        background-color: var(--color-primario-oscuro);
        border-radius: 5%;
        padding: 16px;
    }

    .description-div h2{
        font-family: var(--tipografia-principal);
        font-size: var(--font-size-xl);
        color: white;
    }

    .description-div p{
        font-family: var(--tipografia-principal);
        font-size: var(--font-size-s);
        color: white;
    }

    .buttons-div{
        display: flex;
    }

    .tableroyanucios-div{
        height: 200px;
        width: 100%;
    }

    /* VJ - CONTENIDOS RELACIONADOS */

    .contenido-section{
        margin: 24px 0;
    }

    .card-contenido-div{
        align-items: center;
        display: flex;
        background-color: var(--color-primario);
        border-radius: 5px;
        padding: 8px;
    }

    .card-contenido-div:nth-child(2){
        margin-top: 16px;
    }

    .card-contenido-div img{
        max-width: 100px;
        max-height: 100px;
    }

    .card-contenido-texto-div h3{
        font-size: var(--font-size-m);
        font-family: var(--tipografia-principal);
        color: white;
        text-align: center;
    }

    .card-contenido-texto-div p{
        font-size: var(--font-size-xs);
        font-family: var(--tipografia-principal);
        color: white;
        text-align: center;
    }

    .card-contenido-texto-div a{
        font-size: var(--font-size-xs);
        font-family: var(--tipografia-principal);
        color: var(--color-secundario);
        text-align: center;
    }

    .container-button{
        border: #000;
        border-radius: 4px;
        background-color: var(--color-primario);
        width: 24px;
        height: 24px;
        margin: 8px 20px 0px 0px;
    }
}

@media (max-width: 480px) {
    .login-section .login-box,
    .register-section .login-box {
        padding: 15px;
        border-radius: 8px;
        width: 90%; 
    }

    .login-section .login-box h2,
    .register-section h2 {
        font-size: 1.2em;
    }

    .login-section .btn, 
    .register-section .btn, 
    .login-section .btn-google {
        padding: 8px;
        font-size: 14px; 
    }

    .movie {
        width: 100%; 
    }

    .movies-section {
        flex-direction: column; 
        align-items: center; 
    }

    .comment {
        flex-direction: column; 
        align-items: flex-start; 
    }
}

/* (tablets) */
@media (min-width: 481px) and (max-width: 768px) {
    .login-section .login-box,
    .register-section .login-box {
        width: 90%;
        max-width: 350px;
    }

    .login-section .login-box h2,
    .register-section h2 {
        font-size: 1.4em;
    }

    .game-section img {
        width: 250px; 
    }

    .movie {
        width: 45%; 
    }

    .movies-section {
        flex-direction: row; 
        flex-wrap: wrap; 
    }

    .comment {
        flex-direction: row; 
    }
}

/* (pantallas pequeñas de escritorio) */
@media (min-width: 769px) and (max-width: 1024px) {
    .login-section .login-box,
    .register-section .login-box {
        width: 80%; 
        max-width: 400px;
    }

    .game-section img {
        width: 300px; 
    }

    .movie {
        width: 30%; 
    }

    .movies-section {
        flex-wrap: wrap; 
    }
}

/* (pantallas grandes de escritorio) */
@media (min-width: 1025px) {
    .login-section .login-box,
    .register-section .login-box {
        width: 400px; 
    }

    .movie {
        width: 22%; 
    }

    .movies-section {
        flex-direction: row; 
    }

    .user-options {
        display: flex;
    }

    .header_container{
        max-width: 100%;
    }

    /*---------------home----------*/
        /* Carrusel 1 (cards grandes) */
        .carousel-1 .cards-container .card {
            width: 440px;
            height: 250px;
        }
    
        .carousel-1 .arrow {
            height: 250px;
        }
    
        /* Carrusel 2 y 3 (cards pequeñas) */
        .carousel-2 .cards-container .card,
        .carousel-3 .cards-container .card {
            width: 160px;
            height: 138px;
        }
    
        .carousel-2 .arrow, .carousel-3 .arrow {
            height: 138px;
        }
    
        /* Carrusel 4 (cards grandes verticales) */
        .carousel-4 .cards-container .card {
            width: 220px;
            height: 325px;
        }
    
        .carousel-4 .arrow {
            height: 325px;
        }
}